<div class="container">
  <div class="row transparent">
    <div class="tuyin">
      <span class="title">Localización</span>
      <div class="plan-name"></div>
        <div class="text">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]= "10">
          <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
            <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
          </agm-map>
        </div>
    </div>
  <hr id ="hr"/>
  <div class="col-md-12" id="container">
    <div class="col-md-4" id ="col-btn">
      <a class="btn btn-primary" routerLink="/crear/new" id ="btn-crear">
        <span class="glyphicon glyphicon-plus"></span>
        Crear Nuevo Negocio
      </a>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6" id="container">
        <div class="col-md-12">
          <div class="menu">
            <span class="title">Lugares Cercanos</span>
             <div class="plan-name"></div>
               <div class="text">
                <ul class="list-group">
                  <ng-container *ngFor="let lugar of lugares">
                     <!--[queryParams]="{action:'edit',referer:'google'}">-->
                      <li class="list-group-item" *ngIf="lugar.active" >
                        <a routerLink="/crear/{{lugar.id}}"><h3 id="title_h3">{{lugar.nombre}}</h3></a>
                        <br />
                        <small>Creado:{{lugar.id | date:'mediumTime' | uppercase}}</small>
                        <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                      </li>
                  </ng-container>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" [@contenedorAnimable]="state" id="container">
        <div class="col-md-12">
          <div class="menu">
            <span class="title">Lugares Plus</span>
             <div class="plan-name"></div>
               <div class="text">
                <ul class="list-group">
                  <ng-container *ngFor="let lugar of lugares">
                     <!--[queryParams]="{action:'edit',referer:'google'}">-->
                      <li class="list-group-item" *ngIf="lugar.plan == 'Pagado'" >
                        <span class="glyphicon glyphicon-star pull-right icon-star"></span>
                        <a routerLink="/crear/{{lugar.id}}"><h3 id="title_h3">{{lugar.nombre}}</h3></a>
                        <br />
                        <small>Creado:{{lugar.id | date:'mediumTime' | uppercase}}</small>
                        <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                      </li>
                  </ng-container>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
