<div class="well">
  <a routerLink>Lugares</a> / crear
</div>
<div class="container">
  <div class="row transparent">
    <div class="col-md-12">
    <h3 class="title">Datos Basicos</h3>
      <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="lugar.nombre">
            </div>
            <div class="col-md-3">
              <label>Distancia</label>
              <input type="number" class="form-control" [(ngModel)]="lugar.distancia">
            </div>
            <div class="col-md-3">
              <label>Cercania</label>
              <input type="number" class="form-control" [(ngModel)]="lugar.cercania">
            </div>
            <div class="col-md-3">
              <label>Plan</label>
              <input type="text" class="form-control" [(ngModel)]="lugar.plan">
            </div>
            <div class="col-md-9">
              <label>Descripción</label>
              <textarea name="foo" type="text" class="form-control" [(ngModel)]="lugar.descripcion" ></textarea>
            </div>
            <div class="col-md-3">
              <label>Active</label>
              <input type="text" class="form-control" [(ngModel)]="lugar.active">
            </div>
          </div>
        </div>
        <h3 class="title">Datos de Dirección</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="well">
                <form>
                  <label>Buscar Negocio en Google</label>
                  <input type="text" class="form-control" [formControl]="searchField">
                </form>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let result of results$ | async" (click)="seleccionarDireccion(result)">{{result.formatted_address}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4">
              <label>Calle y Número</label>
              <input type="text" class="form-control" [(ngModel)]="lugar.calle">
            </div>
            <div class="col-md-4">
              <label>Ciudad</label>
              <input type="text" class="form-control" [(ngModel)]="lugar.ciudad">
            </div>
            <div class="col-md-4">
              <label>Pais</label>
              <input type="text" class="form-control" [(ngModel)]="lugar.pais">
            </div>
          </div>
        </div>
      <hr/>
      <a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
    </div>
  </div>
  <hr id="idhr" />
  <a id="btn-regresar" class="btn btn-danger" routerLink="/lugares">Regresar</a>
  <br />
</div>
