/* You can add global styles to this file, and also import other style files */
agm-map {
  height: 300px;
}

body {
  background: -ms-linear-gradient(left, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);
  background: linear-gradient(to right, rgba(59,183,120,1) 47%, rgba(71,196,218,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bb778', endColorstr='#47c4da', GradientType=1 );
}
